.text {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 40%;
    color: white;
    display: flex;
    font-size: larger;
}
.under-construction{
    display: block;
    margin-left: 35%;
}

.text-image {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 40%;
    color: white;
    display: flex;
    font-size: larger;
}