.container-eod h1{
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 3vw;
}

.under-construction{
    text-align: center;
}

.under-construction img{
    width: 40vw;
    height: 40vw;

}

.text-image h2{
    color: white;
    font-size: 2vw;
    text-align: center;
    margin-top: -2vw;
}