.title-flow{
    margin-top: 3vh;
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-bottom: -8vw;
    font-weight: bolder;
}

.flow{
    text-align: center;
}

.flow img{
    width: 70vw;
    height: 70vw;

}

